version: '3.8'

services:
    news-app:
        build:
            context: .
            dockerfile: Dockerfile
        image: my-laravel-app
        container_name: news-app
        restart: unless-stopped
        working_dir: /var/www
        environment:
            - PHP_IDE_CONFIG=serverName=localhost
        extra_hosts:
            - host.docker.internal:host-gateway
        volumes:
            - ./:/var/www
            - ./docker/php/custom.ini:/etc/nginx/conf.d/default.conf
        networks:
            - news-app-network

    news-horizon:
      build: .
      command: php artisan horizon
      volumes:
        - .:/var/www
      environment:
        - DB_HOST=news-db
        - REDIS_HOST=news-redis
      depends_on:
        - news-redis
      restart: unless-stopped
      networks:
        - news-app-network

    news-webserver:
        image: nginx:alpine
        container_name: news-webserver
        restart: unless-stopped
        ports:
            - "8001:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - news-app-network

    news-db:
      image: postgres:16-alpine
      container_name: news-db
      restart: unless-stopped
      ports:
        - "5432:5432"
      environment:
        POSTGRES_DB: laravel
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
      volumes:
        - news-pq:/var/lib/postgresql/data
      networks:
        - news-app-network
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U user -d laravel" ]
        interval: 10s
        timeout: 5s
        retries: 5


    news-redis:
        image: redis:latest
        container_name: news-redis
        restart: unless-stopped
        ports:
            - "6381:6379"
        volumes:
            - news-redis-data:/data
        networks:
            - news-app-network
        healthcheck:
          test: [ "CMD", "redis-cli", "ping" ]
          interval: 5s
          timeout: 3s
          retries: 5

    news-redis-commander:
        image: rediscommander/redis-commander:latest
        container_name: news-redis-commander
        restart: unless-stopped
        environment:
            - REDIS_HOSTS=local:news-redis:6379
        ports:
            - "8089:8081"
        networks:
            - news-app-network

    news-scheduler:
      build:
        context: .
        dockerfile: Dockerfile
      image: my-laravel-app
      container_name: news-scheduler
      restart: unless-stopped
      working_dir: /var/www
      command: [ "/var/www/docker/project-entrypoint.sh" ]
      volumes:
        - ./:/var/www
      networks:
        - news-app-network
      depends_on:
        news-redis:
          condition: service_started
        news-db:
          condition: service_healthy

networks:
    news-app-network:
        driver: bridge
volumes:
    news-pq:
    news-redis-data:
